repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.9
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v1.19.0'  # Use the sha / tag you want to point at
  hooks:
  - id: mypy
    args: [--config-file=pyproject.toml]
    additional_dependencies: [types-Flask]
    pass_filenames: false
    args: ['.']
